<mat-toolbar color="accent">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/books">Books</button>
    <button mat-button routerLink="/characters">Characters</button>
    <button mat-button routerLink="/houses">Houses</button>
</mat-toolbar>