<div *ngIf="book" class="center">
    <h1>{{ book.name }} </h1>
    <h1>Author: {{ book.authors }} </h1>
    <h1>Pages numbers: {{ book.numberOfPages }} </h1>
    <h1>Publisher: {{ book.publisher }} </h1>
    <h1>Country: {{ book.country }} </h1>
    <h1>Media type: {{ book.mediaType }} </h1>
    <h1>Released: {{ date(book.released) }} </h1>
    <h1>Characters: </h1>
</div>
<div *ngIf="book">
    <mat-grid-list cols="8" rowHeight="70px">
        <mat-grid-tile *ngFor="let character of characters" [style.background]="'lightblue'" class="center">
            {{ character.name }}
            <button *ngIf="key(character.url)" mat-button routerLink="{{ key(character.url) }}">More</button>
        </mat-grid-tile>
    </mat-grid-list>
</div>

