<div *ngIf="!characters" class="center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="characters">
    <mat-form-field class="button" appearance="fill">
      <mat-label>Writer a character name</mat-label>
      <input matInput type="search" [(ngModel)]="value">
      <button matSuffix mat-icon-button aria-label="Search" (click)="search(value)">
          <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
    <mat-card *ngFor="let character of characters" class="card">
      <mat-card-header>
        <mat-card-title>
          {{ character.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ character.died}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button *ngIf="key(character.url)" mat-button routerLink="{{ key(character.url) }}">Show more information</button>
      </mat-card-actions>
    </mat-card>
</div>
