<div *ngIf="!books" class="center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="books">
    <mat-card *ngFor="let book of books" class="card">
      <mat-card-header>
        <mat-card-title>
          {{ book.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ book.authors}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button *ngIf="key(book.url)" mat-button routerLink="{{ key(book.url) }}">Show more information</button>
      </mat-card-actions>
    </mat-card>
</div>
  