<div *ngIf="!houses" class="center">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="houses">
    <mat-card *ngFor="let house of houses" class="card">
      <mat-card-header>
        <mat-card-title>
          {{ house.name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ house.region}}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions>
        <button *ngIf="key(house.url)" mat-button routerLink="{{ key(house.url) }}">Show more information</button>
      </mat-card-actions>
    </mat-card>
</div>
