<div *ngIf="house" class="center">
    <h1>{{ house.name }} </h1>
    <h1>Region: {{ house.region }} </h1>
    <h1>Coat of Arms: {{ house.coatOfArms }} </h1>
    <h1>Words: {{ house.words }} </h1>
    <h1>Titles: {{ house.titles }} </h1>
    <h1>Seats: {{ house.seats }} </h1>
    <h1 *ngIf="currentLord">Current Lord: {{ currentLord.name }} 
        <button *ngIf="key(currentLord.url)" class="button" routerLink="{{ key(currentLord.url) }}">
            More
        </button> 
    </h1>
    <h1 *ngIf="heir">Heir: {{ heir.name }} 
        <button *ngIf="key(heir.url)" class="button" routerLink="{{ key(heir.url) }}">
            More
        </button> 
    </h1>
    <h1 *ngIf="overlord">Overlord: {{ overlord.name }} 
        <button *ngIf="key(overlord.url)" class="button" routerLink="{{ key(overlord.url) }}">
            More
        </button> 
    </h1>
    <h1>Founded: {{ house.founded }} </h1>
    <h1 *ngIf="founder">Heir: {{ founder.name }} 
        <button *ngIf="key(founder.url)" class="button" routerLink="{{ key(founder.url) }}">
            More
        </button> 
    </h1>
    <h1>Died Out: {{ house.diedOut }} </h1>
    <h1>Ancestral Weapons: {{ house.ancestralWeapons }} </h1>
    <h1>Cadet Branches:</h1>
    <div *ngIf="cadetBranches">
        <mat-grid-list cols="5" rowHeight="70px">
            <mat-grid-tile *ngFor="let branch of cadetBranches" [style.background]="'lightblue'" class="center">
                {{ branch.name }}
                <button *ngIf="key(branch.url)" mat-button routerLink="{{ key(branch.url) }}">More</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <h1>Sworn Members:</h1>
    <div *ngIf="swornMembers">
        <mat-grid-list cols="5" rowHeight="70px">
            <mat-grid-tile *ngFor="let member of swornMembers" [style.background]="'lightblue'" class="center">
                {{ member.name }}
                <button *ngIf="key(member.url)" mat-button routerLink="{{ key(member.url) }}">More</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>
