<div *ngIf="character" class="center">
    <h1>Name: {{ character.name }} </h1>
    <h1>Gender: {{ character.gender }} </h1>
    <h1>Culture: {{ character.culture }} </h1>
    <h1>Born: {{ character.born }} </h1>
    <h1>Died: {{ character.died }} </h1>
    <h1>Titles: {{ character.titles }} </h1>
    <h1>Aliases: {{ character.aliases }} </h1>
    <h1 *ngIf="father">Father: {{ father.name }} 
        <button *ngIf="key(father.url)" class="button" routerLink="{{ key(father.url) }}">
            More
        </button> 
    </h1>
    <h1 *ngIf="mother">Mother: {{ mother.name }} 
        <button *ngIf="key(mother.url)" class="button"n routerLink="{{ key(mother.url) }}">
            More
        </button> 
    </h1>
    <h1 *ngIf="spouse">Spouse: {{ spouse.name }} 
        <button *ngIf="key(spouse.url)"class="button" routerLink="{{ key(spouse.url) }}">
            More
        </button> 
    </h1>
    <h1>Allegiances: </h1>
    <div *ngIf="houses">
        <mat-grid-list cols="5" rowHeight="70px">
            <mat-grid-tile *ngFor="let house of houses" [style.background]="'lightblue'" class="center">
                {{ house.name }}
                <button *ngIf="key(house.url)" mat-button routerLink="{{ key(house.url) }}">More</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <h1>Books:</h1>
    <div *ngIf="books">
        <mat-grid-list cols="5" rowHeight="70px">
            <mat-grid-tile *ngFor="let book of books" [style.background]="'lightblue'" class="center">
                {{ book.name }}
                <button *ngIf="key(book.url)" mat-button routerLink="{{ key(book.url) }}">More</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <h1>PovBooks: </h1>
    <div *ngIf="povBooks">
        <mat-grid-list cols="5" rowHeight="70px">
            <mat-grid-tile *ngFor="let book of povBooks" [style.background]="'lightblue'" class="center">
                {{ book.name }}
                <button *ngIf="key(book.url)" mat-button routerLink="{{ key(book.url) }}">More</button>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <h1>TvSeries: {{ character.tvSeries }} </h1>
    <h1>PlayedBy: {{ character.playedBy }} </h1>
</div>